.search-wrap {
    position: relative;
    margin-left: 15px;
    float: left;
}
.input {
    border-radius: 13px;
    height: 26px;
    border: 1px solid #999;
    outline: none;
    box-sizing: border-box;
    padding: 0 23px;
}
.icon {
    color: #999;
    position: absolute;
    left: 8px;
    top: 1px;
}